body {
    font-family: "Nunito Sans", sans-serif;
    margin: auto;
    background-color: rgb(236, 236, 236);
}

header{
    background-color: brown;
    display: flex;
    justify-content: center;
    margin-bottom: -0.625rem;
}

header > img{
    width: 17.188459177409452vw;
    height: 27.720739219712527vh;
    margin-bottom: 1.301rem;
}

/* header */

nav{
    background-color: #fae7b2;
    text-align: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.3);
}
nav > a{
    text-decoration: none;
    color: black;
}

nav > a:hover{
    color: brown;
    transform: scale(2.8);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
}

/* section */

#inicio{
    display: flex;
    flex-direction: row-reverse;

}

#inicio > div{
    display: grid;
}

h1, #jump_serv{
    font-size: 2em;
    color: brown;
    margin-bottom: 20px;
}

h6{
    color: #ccc;
}

hr{
    background-color: brown;
    height: 0.125rem;
}

#inicio > img , #receitas > img{
    width: 19.00826446280992vw;
    height: 31.65938864628821vh;
}

iframe{
    width: 1500px;
    height: 405px;
}

/* footer */

.Contatos{
    display: flex;
    justify-content: space-around;
}


.Contatos > p {
    margin: 10px;
}
.Contatos > a {
    margin: 0 10px; font-size: 1.8em;
}
form > input {
    width: 100%; padding: 10px; margin: 10px 0; border-radius: 8px; border: 1px solid #ccc;
}
form > textarea{
    width: 100%; padding: 10px; margin: 10px 0; height: 120px; border-radius: 8px; border: 1px solid #ccc;
}
form > button{
    background-color: #d2691e; color: white; padding: 10px 20px; border: none; border-radius: 8px; cursor: pointer;
}